/* # Most Important for center
height: 80vh;
width: max-content;
top: 50%;
left: 50%;
overflow: hidden;
position: relative;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* display: flex; */
  height: 100vh;
  overflow: hidden;
  background-color: #0e5571;
}

.main {
  width: 30%;
  padding: 2vh;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 100px #042431;
  height: 80vh;
  top: 50%;
  left: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.content_left {
  text-align: center;
  width: 80%;
  height: 70vh;
  top: 50%;
  left: 50%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  overflow: hidden;
}
h1 {
  margin: 30px;
  color: #0e5571;
}

form {
  margin: 10px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #042431;
}

.name_input {
  border: 1px solid #0e5571;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.name_value {
  border: none;
  width: 80%;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
}

input::placeholder {
  color: #0e55718c;
  font-size: 15px;
}

.name_value:focus {
  outline: none;
}

.button-left {
  justify-content: center;
  padding-top: 30px;
  align-items: center;
  padding: 5px 35px;
  font-size: 15px;
  width: 100%;
  color: white;
  background: #0e5571d3;
  border: 1px solid #0e5571;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.last {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  justify-content: center;
  gap: 5px;
}

.a1 {
  background: none;
  font-size: 15px;
  color: black;
}
.a2 {
  background: none;
  font-size: 15px;
  color: #0e5571;
}

.for_login1,
.for_login2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  margin-top: 20px;
  font-size: 15px;
  gap: 10px;
  width: 100%;
  color: #0e5571;
  border: 1px solid #0e5571;
  border-radius: 5px;
  background: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.aline {
  padding-top: 20px;
  font-size: 15px;
  color: #9e9090b2;
}
.for_login1 {
  margin-top: 40px;
}
.for_login1 img,
.for_login2 img {
  height: 15px;
}
@media (max-width: 1200px) {
  .main {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .main {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .main {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .main {
    width: 70%;
  }
}
